* 
{
    margin: 0;
    padding: 0px;
    padding-left: 2px;
}
body
{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.menu-parent,.menu-child
{
    list-style: none;
}

.menu-parent>li
{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    margin-left: -5px;
    background-color: gray;
}

.menu-parent>li>a
{
    text-decoration: none;
    color: white;
    display: block;
}

.menu-parent>li>a:hover
{
    background-color: greenyellow;
}

.menu-child
{
    display: none;
    position: absolute;
    background-color: rgb(119, 117, 108);
    width: 200px;
}

.menu-child>li>a
{
    text-decoration: none;
    color: black;
}
.menu-child>li:hover
{
    background-color: aqua;
}
#nav li
{
    position: relative;
}

#nav li:hover .menu-child
{
    display: block;
}

