.container {
    height: 100%;
    width: 1080px;
    ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header nav {
    width: 100%;
    height: 10%;
    border-bottom: 10px ridge rgb(140, 140, 140);
}

header img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    padding-right: 5%;
}

nav ul li a {
    text-decoration: none;
    color: #ac4d11;
    font-size: 25px;
}

header h1 {
    height: 30%;
    background-color: #ac4d11;
    font-size: 50px;
    color: #877b0d;
    text-shadow: -10px -5px 5px white;
    padding: 20px;
    margin-bottom: 0px;
}

section {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 5%;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-right: 1px dotted gray;
}

article h1 {
    font-size: 36px;
    color: #928655;
    letter-spacing: 3px;
    margin: 15px;
}

article p {
    color: #9f8d42;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

article {
    width: 100%;
    color: #9f8d42;
    font-size: 130%;
}

.article2 {
    width: 80%;
    height: 430px;
    margin: 0 auto;
    margin-top: 10%;
}

input {
    border: none;
    border-bottom: 3px solid darkgray;
    margin: 10px 0px;
    padding: 10px 2px;
    font-size: 20px;
    max-width: 90%;
}

button {
    padding: 10PX;
    background-color: #808100;
    color: white;
    border: none;
    margin-top: 40px;
}

aside {
    margin-left: 40px;
    height: 50%;
    max-width: 35%;
}

.link {
    height: 50%;
    border-radius: 40px 40px 0px 0px;
    background-color: moccasin;
}

aside h3 {
    padding: 20px;
    font-size: 30px;
    color: #795749;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0%;
    margin-top: 0%;
}

aside ul {
    list-style-type: square;
    margin: 10px;
    color: chocolate;
}

aside ul li {
    list-style-type: square;
    margin: 10px;
    color: chocolate;
    font-size: 20px;
}

aside ul li a {
    text-decoration: none;
    color: chocolate;
}

aside div {
    display: flex;
    flex-direction: column;
}

aside h1 {
    font-size: 30px;
    color: #795749;
    margin-bottom: 0;
}

.asidew {
    max-width: 80%;
    margin: 0 auto;
}

.info img {
    width: 35%;
    height: auto;
    border: 1px solid darkgray;
    padding: 10px;
    float: left;
    margin-right: 15px;
}

.info p {
    font-size: 27px;
    color: rgb(74, 71, 64);
}

footer {
    clear: both;
    width: 100%;
    background-image: url(../images/);
}

.left {
    float: left;
}

.right {
    float: right;
}

.top-left {
    height: 50%;
    float: left;
}

.bottom-left {
    bottom: 0;
    left: 0;
    float: left;
}

.top-right {
    top: 0;
    right: 0;
    float: right;
}

.bottom-right {
    bottom: 0;
    right: 0;
    float: right;
}

.top-footer {
    margin-left: 0px;
    width: 100%;
    height: 40px;
    background-image: url(../images/footer.png);
    background-repeat: repeat-x;
}

address {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}